@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*-------------mobile----------------*/

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-color: #24252a;
  }
 
  .container-logo {
    width: 18%;
    height: 18%;
    content: url('/assets/logo-web-white.png');
  }

  .container-logo:hover {
    width: 18%;
    height: 18%;
    content: url('/assets/logo-web-hover.png');
  }

  img {
    width: 100%;
    height: 100%;
  }

  .container-signup {
    list-style: none;
    display: inline-block;
    padding: 3px 3px;
   }
  
  .container-signup a {
    transition: all 0.3s ease 0s;
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 7px;
    color: #e3e1e4;
    text-decoration: none;
    list-style: none;
   }
  
  .container-signup a:hover {
    color: rgba(6, 233, 138, 0.8);
   }

  .btn {
    font-family: 'Rubik Mono One', sans-serif; 
    font-weight: 500;
    font-size: 6px;
  }

  button {
    padding: 3px 3px;
    background-color: rgba(238, 12, 23, 0.8);
    color: #e3e1e4;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  button:hover {
    background-color: rgba(251, 255, 0, 0.884);
    color: #24252a;
  }

/* -------------destop------------ */

@media screen and (min-width: 400px) {
  .container-signup a {
    transition: all 0.3s ease 0s;
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 11px;
    color: #e3e1e4;
    text-decoration: none;
    list-style: none;
   }

  .btn {
    font-weight: 400;
    font-size: 8px;
  }

  button {
    padding: 2px 4px;
  }

  .container-logo {
    width: 18%;
    height: 18%;
    content: url('/assets/logo-web-white.png');
  }

  .container-logo:hover {
    width: 18%;
    height: 18%;
    content: url('/assets/logo-web-hover.png');
  }

}


@media screen and (min-width: 620px) {
  .container-signup a {
    transition: all 0.3s ease 0s;
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 12px;
    color: #e3e1e4;
    text-decoration: none;
   }

   .btn {
    font-weight: 500;
    font-size: 10px;
  }

  button {
    padding: 4px 6px;
    background-color: rgba(238, 12, 23, 0.8);
    color: #e3e1e4;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  .container-logo {
    width: 16%;
    height: 16%;
    content: url('/assets/logo-web-white.png');
  }

  .container-logo:hover {
    width: 16%;
    height: 16%;
    content: url('/assets/logo-web-hover.png');
  }

}


@media screen and (min-width: 890px) {
  .container-signup a {
    transition: all 0.3s ease 0s;
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 14px;
    color: #e3e1e4;
    text-decoration: none;
   }

   .btn {
    font-weight: 500;
    font-size: 13px;
  }

  button {
    padding: 3px 7px;
    background-color: rgba(238, 12, 23, 0.8);
    color: #e3e1e4;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  .container-logo {
    width: 16%;
    height: 16%;
    content: url('/assets/logo-web-white.png');
  }

  .container-logo:hover {
    width: 16%;
    height: 16%;
    content: url('/assets/logo-web-hover.png');
  }

}


@media screen and (min-width: 1120px) {

  .navbar {
    max-height: 85px;
  }

  .container-signup a {
    transition: all 0.3s ease 0s;
    font-family: 'Press Start 2P', cursive;
    font-weight: 500;
    font-size: 18px;
    color: #e3e1e4;
    text-decoration: none;
   }

   .btn {
    font-weight: 500;
    font-size: 16px;
  }

  button {
    padding: 3px 7px;
    background-color: rgba(238, 12, 23, 0.8);
    color: #e3e1e4;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  .container-logo {
    width: 16%;
    height: 16%;
    content: url('/assets/logo-web-white.png');
  }

  .container-logo:hover {
    width: 16%;
    height: 16%;
    content: url('/assets/logo-web-hover.png');
  }

}


@media screen and (max-width: 560px) {

  .navbar {
    min-height: 55px;
  }

  .container-signup{
    font-size: 5px;
}
}


@media screen and (max-width: 880px) {

  .navbar {
    min-height: 70px;
  }
}

@media screen and (min-width: 1260px) {

  .navbar-text{
    margin-right: 75px;
  }
}

@media screen and (min-width: 620px) and (max-width: 960px) {

  .navbar-text{
    margin-right: 15px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1120px) {

  .navbar-text{
    margin-right: 25px;
  }
}

@media screen and (min-width: 1120px) and (max-width: 1260px) {

  .navbar-text{
    margin-right: 45px;
  }
}


@media screen and (min-width: 400px) and (max-width: 620px) {

  .navbar-text{
    margin-right: 5px;
  }
}

@media screen and (max-width: 400px) {

  .navbar-text{
    margin-right: 10px;
  }
}

@media screen and (min-width: 1260px) {

  .navbar-text{
    margin-right: 75px;
  }
}
