<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container text-center">
  
      <div class="container-logo">
        <a class="navbar-brand" routerLink="/home"><img src="assets/logo-web-white.png" width="100" hidden alt="logo" class="d-inline-block align-middle"></a>
      </div>
  
      <div class="btn-account">
        <a class="btn"><button type="button" class="btn btn-1" (click)="logout()">LOGOUT</button></a>
        <a class="btn" routerLink="/account"><button type="button" class="btn btn-2">ACCOUNT</button></a>
      </div>
  
    </div>
  </nav>
