<!-- 
    <div class="container">
    <div class="footer">
        <div *ngIf="showDiv.displayAbout">
            <div class="about-text-click">

                <div class="social">
                <ul>
                    <li>
                        <span><a href="https://twitter.com/russkhof" target="_blank"><i class="uil uil-twitter"></i></a></span>
                    </li>
                    <li>
                        <span><a href="https://www.youtube.com/user/I2usskhofTV" target="_blank"><i class="uil uil-youtube"></i></a></span>
                    </li>
                    <li>
                        <span><a href="https://www.facebook.com/russkhof.gaming" target="_blank"><i class="uil uil-facebook-f"></i></a></span>
                    </li>
                </ul>
                </div>

                <div class="copyright">
                        <span><i class="uil uil-copyright"></i> 2022 Russkhof Entertainment</span>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-fps">
        <div class="about-text text-center">
            <div class="btn" (click)="showDiv.displayAbout = !showDiv.displayAbout">
               <span><fa-icon [icon]="faGamepad" class="fa-lg"></fa-icon> Fps-Squad-Up</span>
            </div>
        </div>
    </div>
    
    </div> -->