<div class="container">
    <div class="row">
        <div class="about-text text-center">
            <div class="btn" (click)="showDiv.displayAbout = !showDiv.displayAbout">
               <span><fa-icon [icon]="faGamepad" class="fa-lg"></fa-icon> Fps-Squad-Up</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="showDiv.displayAbout">
            <blockquote class="about-text-click">
                        are you down a player? <br>
                        or maybe you need some back up? <br>
                        fps-squad-up links people together <br> 
                        gamers of the most relevant 1st-person-shooters <br> 
                        teammates found specifically for you with your search criteria <br>
                        sign up / search for your squadmate / synergize / have fun / kick some ass
            </blockquote>
    </div>
</div>