@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");


.about {
  background: #202122;
}

.container {
  width: 100%;
  padding: 0px;
  background: #780206;
  background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-width: 100%;
}

.btn {
  font-family: "Press Start 2P", cursive;
  font-size: x-small;
}

.about-text-click {
  font-family: "Rubik Mono One", sans-serif;
  font-size: x-small;
  color: #b9bbc5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

fa-icon {
  font-size: large;
}

.fa-lg {
  color: #f5f6fc;
}

div span {
  color: #f5f6fc;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .about-text-click {
    font-family: "Press Start 2P", cursive;
    font-size: 9px;
    font-weight: 500;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
}

@media screen and (max-width: 380px) {
  .about-text-click {
    font-family: "Press Start 2P", cursive;
    font-size: 6px;
    font-weight: 400;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  .btn {
    font-size: xx-small;
  }
}

@media screen and (min-width: 1120px) {
  .container {
    min-height: 50px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    min-height: 15px;
  }

  .btn {
    font-size: 9px;
    font-weight: 500;
  }

  .fa-lg {
    font-size: 11px;
  }
}

@media screen and (min-width: 880px) and (max-width: 1180px) {
  .container {
    min-height: 20px;
  }

  .about-text {
    position: relative;
    top: 3px;
  }
}

@media screen and (min-width: 1180px) and (max-width: 1300px) {
  .container {
    min-height: 30px;
  }

  .about-text {
    position: relative;
    top: 5px;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    min-height: 30px;
    padding-bottom: 5px;
  }

  .about-text {
    position: relative;
    top: 5px;
  }
}
