@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

section {
  font-family: "Poppins", sans-serif;
  text-transform: lowercase;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1;
  font-size: 1rem;
}

.home {
  width: 46%;
  overflow: auto;
  height: 580px;
}

section {
  overflow-x: hidden; 
  color: lightblack;
  background-color: #202122;
  border-top: 3px inset snow;
  background-image: url("/assets/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border-collapse: collapse;
}

 .column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 30px;
}

.post-id  {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.post-id a:first-child {
  text-decoration: none;
  color: rgb(93, 148, 202);
  font-family: 'Poppins';
  font-size: x-small;
}

.post-id a:last-child {
  text-decoration: none;
  color: rgb(202, 97, 93);
  font-family: 'Poppins';
  font-size: x-small;
}

.post-title {
  font-family: "Caveat Brush", cursive;
  font-size: 1rem;
  margin-top: 7px;
}

.post-content {
  font-family: "Caveat Brush", cursive;
  margin-top: 4px;
  font-size: 0.875rem;
  color: #666;
}

::-webkit-scrollbar {
    display: none;
}

.container{
  border-radius: 0%;
  height: 80px;
  cursor: pointer;
}

.card {
  margin-bottom: 3px;
  padding-top: 5px;
  cursor: pointer;
}


@media screen and (max-width: 640px) {
 
  .home {
   width: 100%;
  }
  
}

@media screen and (min-width: 640px) and (max-width: 786px) {
 
  .home {
   width: 75%;
  }
  
}

@media screen and (min-width: 786px) and (max-width: 900px) {
 
  .home {
   width: 62%;
  }
  
}

@media screen and (min-width: 900px) and (max-width: 1120px) {
 
  .home {
   width: 50%;
  }
  
}


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.btn {
  text-transform: uppercase;
  background: transparent;
  color: #222;
  letter-spacing: 0.25rem;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: hsla(182, 63%, 54%);
  transform: scale(0.82);
}

.btn-white {
  color: #fff;
  border-color: #fff;
  border-radius: 0;
  padding: 0.5rem 1rem;
}

.btn-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 440px) {
  .btn-account {
    transform: scale(0.60);
  }

}
