<app-navbar-visitor></app-navbar-visitor>
<section>
<div class="home">
<div class ="column">
<div class="container card" *ngFor="let post of posts">
    <div class="post-card-content" [routerLink]="['/feedback', post.id]">
        <div class="post-id"><a><p>{{post.id}}</p></a><a><p>{{post.UserId}}</p></a></div>
        <div class="post-title">{{post.title}}</div>
        <div class="post-content">{{post.content}}</div>
        <div class="post-name"></div>
        <!-- <div class="post-category">{{post.GameId}}</div> -->
    </div>
</div>
</div>
</div>
</section>
<app-about></app-about>
<app-footer></app-footer>
