<app-navbar-visitor></app-navbar-visitor>
<app-about></app-about>
<app-visitor></app-visitor>
<!-- <app-preloader></app-preloader> -->
<!-- <app-navbar-visitor></app-navbar-visitor>
<app-carousel></app-carousel>
<app-about></app-about>
<app-footer></app-footer> -->

<body>
    <section>
    <header id="home">
            <!-- Video Preloader -->
            <div class="preloader">
                <img src="assets/preloader.gif" alt="preloader" />
            </div>

            <video class="video-container" autoplay muted loop>
                <source src="assets/banner-vid.mp4" type="video/mp4" />
            </video>
    
            <div class="intro-container">
                <h1>For Gamers by Gamers</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius impedit non libero distinctio tenetur consectetur velit deserunt nulla. Temporibus, obcaecati?</p>
                <a href="tours" class="scroll-link btn btn-white">Random Post</a>
            </div>
            <button class="switch-btn">
                <span>Play</span>
                <span>Pause</span>
                <span class="switch"></span>
            </button>
    </header>
    </section>
</body>

