/* .preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(247, 242, 0);
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 100;
}

.hide-preloader {
    visibility: hidden;
    z-index: -100;
} */