/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.carousel {
  width: 100%;
  margin: 0 auto;
}

.main-carousel {
  width: 100%;
  background: #202122;
}

.d-flex{
  min-height: 80vh;
}

.carousel-inner{
    position: relative;
  }
  
.item, img{
    position: absolute;
    height: 100%;
  }

.carousel-caption{
    top: 46%;
  }

h5, p{
  font-family:'Rubik';
  font-size: 15px;
    
}  

  @media screen and (min-width: 460px) {
    .carousel-inner{
        position: relative;
      }
  
    .item, img{
        position: absolute;
    
      }

    .carousel-caption{
       top: 46%;
      }
}


  @media screen and (min-width: 680px) {
    .carousel-inner{
        position: relative;
    
      }
      
    .item, img{
        position: absolute;
    
      }

      .carousel-caption{
        top: 46%;
      }  
}


  @media screen and (min-width: 990px) {
    .carousel-inner{
        position: relative;
    
      }
      
    .item, img{
        position: absolute;
  
      }

    .carousel-caption{
        top: 46%;
      }
}

  
  @media screen and (min-width : 1200px) {
    .carousel-caption
    {
      left: 6%;
    }
  } */
