<!-- <div class="main-carousel">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel" cycle="true" pause="null">
      <div class="carousel-indicators">   
        <app-visitor></app-visitor>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="9" aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="10" aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="11" aria-label="Slide 12"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="12" aria-label="Slide 13"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="13" aria-label="Slide 14"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="14" aria-label="Slide 15"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="15" aria-label="Slide 16"></button>
      </div>
  
      <div class="carousel-inner">

        <div class="carousel-item" data-bs-interval="2500">
          <div class="d-flex align-items-flex-start justify-content-center">
          <img src="assets/game10.jpg"  alt="payday">
          <div class="carousel-caption d-none d-md-block">
          </div>
          </div>
        </div>
  
        <div class="carousel-item active" data-bs-interval="2500">
          <div class="d-flex align-items-flex-start justify-content-center">
          <img src="assets/game37.png"  alt="bf4">
          <div class="carousel-caption d-none d-md-block">
            <h5>Welcome Soldier!</h5>
            <p>This platform allows you to find people to play with</p>
          </div>
          </div> 
        </div>

        <div class="carousel-item" data-bs-interval="2500">
          <div class="d-flex align-items-flex-start justify-content-center">
          <img src="assets/game34.jpg"  alt="halo">
          <div class="carousel-caption d-none d-md-block">
            <h5>Gamers</h5>
            <p>looking for decent teammates</p>
          </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="2500">
          <div class="d-flex align-items-flex-start justify-content-center">
          <img src="assets/game13.png"  alt="ww3">
          <div class="carousel-caption d-none d-md-block">
            <h5>Squadmates</h5>
            <p>giving callouts and supporting you</p>
          </div>
          </div>
        </div>

        <div class="carousel-item" data-bs-interval="2500">
          <div class="d-flex align-items-flex-start justify-content-center">
          <img src="assets/game6.jpg"  alt="doom">
          <div class="carousel-caption d-none d-md-block">
            <h5>Search</h5>
            <p>among your favorite first-person-shooters</p>
          </div>
          </div>
        </div>
  
        <div class="carousel-item" data-bs-interval="2500">
          <div class="d-flex align-items-flex-start justify-content-center">
          <img src="assets/game15.jpg"  alt="bf5">
          <div class="carousel-caption d-none d-md-block">
            <h5>Someone</h5>
            <p>that you can count on</p>
          </div>
          </div>
        </div>
  
        <div class="carousel-item" data-bs-interval="2500">
          <div class="d-flex align-items-flex-start justify-content-center">
          <img src="assets/game9.jpg"  alt="wolfenstein">
          <div class="carousel-caption d-none d-md-block">
            <h5>Socialize</h5>
            <p>in a very simple and efficient way</p>
          </div>
          </div>
        </div>
  
        <div class="carousel-item" data-bs-interval="2500">
          <div class="d-flex align-items-flex-start justify-content-center">
          <img src="assets/game31.jpg"  alt="warzone">
          <div class="carousel-caption d-none d-md-block">
            <h5>Check</h5>
            <p>other people's squad posts</p>
          </div>
          </div>
        </div>
  
        <div class="carousel-item" data-bs-interval="2500">
          <div class="d-flex align-items-flex-start justify-content-center">
          <img src="assets/game32.jpg"  alt="csgo">
          <div class="carousel-caption d-none d-md-block">
            <h5>Find</h5>
            <p>the right gamer buddy</p>
          </div>
          </div>
        </div>
  
        <div class="carousel-item" data-bs-interval="2500">
          <div class="d-flex align-items-flex-start justify-content-center">
          <img src="assets/game20.jpg"  alt="apex">
          <div class="carousel-caption d-none d-md-block">
            <h5>Add</h5>
            <p>your own squad post</p>
          </div>
          </div>
        </div>
  
        <div class="carousel-item" data-bs-interval="2500">
          <div class="d-flex align-items-flex-start justify-content-center">
          <img src="assets/game23.jpg"  alt="eft">
          <div class="carousel-caption d-none d-md-block">
            <h5>Comment</h5>
            <p>get in touch with your future friend</p>
          </div>
          </div>
        </div>
  
        <div class="carousel-item" data-bs-interval="2500">
          <div class="d-flex align-items-flex-start justify-content-center">
          <img src="assets/game33.jpg"  alt="r6-siege">
          <div class="carousel-caption d-none d-md-block">
            <h5>Synergize</h5>
            <p>and play together</p>
          </div>
          </div>
        </div>
  
        <div class="carousel-item" data-bs-interval="2500">
          <div class="d-flex align-items-flex-start justify-content-center">
          <img src="assets/game8.jpg"  alt="pubg">
          <div class="carousel-caption d-none d-md-block">
            <h5>Login</h5>
            <p>start your seeking quest!</p>
          </div>
          </div>
        </div>
  
      </div>
  
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div> -->
