<app-navbar-user-search></app-navbar-user-search>
<body>
    <div class="wrapper" id="img">
<div class="container">
    <div class="welcome-user">
        <br><h2 class="text-center">Welcome {{userName}}!</h2>
        <div class="intro-text"><blockquote>
            <i>In order to find your squad mate, you need to make a "squad post", visible by other users/gamers.<br><br>

                A post where you can write for example: what type of player are you looking for? <br>
                A post where you can ask for a squad mate from a specific region, playing on a gaming system of your choice. <br>
                A post where you can share your gamertag with your availability. It's really up to you! <br> <br>

                Here, you will find all your squad posts. You will be able to edit and/or delete them.<br>
                Good luck soldier on your seeking quest!
        </i></blockquote></div>
    </div>
    
    <div class="card-header">
            <button class="btn btn-secondary btn-add" [routerLink]="['/post']">NEW POST</button> 
        <div class="card-body">
            <div class="scrollit">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Post Id</th>
                        <th scope="col">Game</th>
                        <th scope="col">Title</th>
                        <th scope="col">Post</th>
                        <th scope="col">Edit Post</th>
                        <th scope="col">Delete Post</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of posts">
                        <a [routerLink]="['/feedback', post.id]"><td data-label="Post Id">{{post.id}}</td></a>
                        <td data-label="Game">{{post.GameId}}</td>
                        <td data-label="Title">{{post.content}}</td>
                        <td data-label="Post">{{post.title}}</td>
                        <td data-label="Edit"><button class="btn btn-warning" [routerLink]="['/update', post.id]">Edit</button></td>
                        <td data-label="Delete"><button class="btn btn-danger" (click)="deleteOnClick(post.id, post.UserId)">Delete</button></td>
                    </tr>
                </tbody>
            </table></div>

        </div>
    </div>
</div>
</div>
</body>