<body>
    <div class="wrapper" id="img">
      <div class="login-form form-signin text-center" id="login-position">
        <span>
          <div class="logo-website">
            <a href="#" class="logo">
              <img src="assets/logoBrand.png" alt="Website Logo" width="80%">
            </a>
          </div>
        </span>
  
        <form (ngSubmit) ="submitForm()"  [formGroup]="loginForm"> 
          <h1>Access account</h1>
  
          <div class="form-floating">
            <label id="floatingInput">Email</label>
            <input type="email" 
                    class="form-control" 
                    for="floatingInput" 
                    placeholder="Email" 
                    name="email" 
                    formControlName="email">
          </div>
  
          <div class="form-floating">
            <label id="floatingPassword">Password</label>
            <input type="password" 
                    class="form-control" 
                    for="floatingPassword" 
                    placeholder="Password" 
                    name="password" 
                    formControlName="password">
          </div>

          <div class="text-register">
            <p>Not a member? <a href='/register'>Register</a></p>
          </div>
      
          <button class="btn btn-lg btn-primary" 
                  type="submit" 
                  [disabled]="loginForm.invalid">LOGIN
          </button>
        </form>
      </div>
    </div>
</body>