<body>
   <!-- Feedback Section -->
   <section>
      <!-- Wrapper Design -->
      <div class="wrapper">
        <!-- Comment Container -->
        <div class="comment-container">
           <h4>Leave a Comment</h4>
           <!-- Form -->
           <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
               <textarea placeholder='Add Your Comment' formControlName="content" type="text" id="content" 
               class="form-control addtxt"></textarea>  
               <div class="btns">
                  <button class="btn btn-1" [routerLink]="['/account/posts']">Return</button>
                  <button class="btn btn-2" type="submit" (click)="refreshPage()">Comment</button>
               </div>
           </form>
        </div>
        <!-- Ng-Container -->
        <div class="ng-container">
           <div *ngFor="let comment of comments">
           <!-- Card -->
           <div class="card com">
               <div class="t-2">
                   <span class="text2"><i class="uil uil-crosshair"></i>
                      {{comment.UserId}}
                   </span>
               </div>
               <div class="t-3">
                   <span class="text3"><i class="uil uil-envelope-check"></i>
                      {{comment.createdAt | date:"MM/dd/yy h:mm:ss"}}
                   </span>
               </div>
               <div class="t-1">
                   <span class="text1">
                      {{comment.content}}
                   </span>
               </div>
           </div>
           </div>
        </div>
      </div>
   </section>
</body>
