.footer-container {
  border-top: 3px inset snow;
  padding-bottom: 10rem;
  font-family: 'Poppins', sans-serif;
  font-size: x-small;
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: snow;
}

span {
  cursor: pointer;
  color: #f5f6fc;
}

.footer-social ul {
  display: flex;
  flex-direction: row;
}

.footer-social ul li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.footer-copyright {
  margin-top: -1rem;
  font-size: 10px;
  text-align: center;
}


@media screen and (max-width: 540px) {
  .footer-copyright {
  margin-top: -1.25rem;
  font-size: 8px;
}
}
