<!-- Footer -->
<footer>
    <div class="footer-container">
        <div class="footer-social">
            <ul>
                <li>
                    <span><a href="https://twitter.com/russkhof" target="_blank">
                        <i class="uil uil-twitter"></i></a></span>
                </li>
                <li>
                    <span><a href="https://www.youtube.com/user/I2usskhofTV" target="_blank">
                        <i class="uil uil-youtube"></i></a></span>
                </li>
                <li>
                    <span><a href="https://www.facebook.com/russkhof.gaming" target="_blank">
                        <i class="uil uil-facebook-f"></i></a></span>
                </li>
            </ul>
        </div>
        <div class="footer-copyright">
            <span><i class="uil uil-copyright"></i> 2022 Russkhof Entertainment</span>
        </div>
    </div>
</footer>