<!-- <p>update-post works!</p>
<form (ngSubmit)="submitUpdate()" [formGroup]="updateForm" class="form" method="post">
                                
    <div class="form-group">
        <div class="input-group">
            <input id="post" formControlName="content" placeholder="post" class="form-control inputfield" type="text" name="content" aria-label="post" aria-describedby="post-addon">
            <span class="input-group-text" id="post-addon"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input id="title" formControlName="title"  placeholder="by" class="form-control" type="text" name="title" aria-label="by" aria-describedby="by-addon">
            <span class="input-group-text" id="by-addon"></span>               
        </div>
    </div>

    <div class="form-group">
        <input name="btnAdd" type="submit" [disabled]="updateForm.invalid" class="btn btn-lg btn-primary btn-block btnAdd" value="Update post">
    </div>

    <div class="form-group">
        <button class="btn btn-lg btn-secondary btn-block" routerLink="/account/">Your account</button>
    </div>
</form> -->

<!-- (ngSubmit)="submitUpdate()"  -->



                                <form (ngSubmit)="submitUpdate()"
                                [formGroup]="updateForm" class="form" method="update">
                            
                                    <div class="form-group d-flex justify-content-center">
                                        <div class="input-group">
                                            <input id="post" formControlName="content" placeholder="Post title" class="form-control" type="text" name="content" aria-label="post" aria-describedby="post-addon">
                                            <span class="input-group-text" id="post-addon"></span>
                                        </div>
                                    </div>
                                
                                    <div class="form-group d-flex justify-content-center">
                                        <div class="input-group">
                                            <textarea id="title" formControlName="title"  placeholder="Your Post" class="form-control" type="text" name="title" aria-label="by" aria-describedby="by-addon"></textarea>
                                            <span class="input-group-text" id="by-addon"></span>               
                                        </div>
                                    </div>

                                    <p>All created posts are visible from your <a href="/account">account</a></p>

            
                                        <button type="submit" [disabled]="updateForm.invalid" class="btn btn-outline-danger">Update Post</button>
                                   
                                    
                                </form>
                         