@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@800&display=swap');

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.logo-website { 
    width: auto;
    height: auto;
    text-align: center;
    display: inline-block;
    margin-bottom: -10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    width:100%;
    height:100%;
    position: absolute;
    background-image: url("/assets/banner-signup.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    border-collapse: collapse;
    overflow: hidden;
}

.register-form {
    width: 100%;
}

.form-floating {
    width: 25%;
    background-color: rgb(82, 77, 77);
    border: 1px solid white;
    margin: 20px auto;
    padding: 3px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    font-family: 'Rubik';
}

#register-position {
    position: absolute;
    top: 18%;
    left: 1%
}


label {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: small;
}

.btn {
    width: 14%;
    background-color: #61B6E7;
    margin: 20px auto;
    padding: 15px;
    font-family: 'Rubik Mono One', sans-serif;
}

h1 {
    font-family: 'Rubik Mono One', sans-serif;
    color: rgb(82, 77, 77);
}

.text-login p a {
    text-decoration: none;
    font-family: 'Rubik';
}

.text-login {
    color: rgb(151, 140, 140);
    font-family: 'Rubik';
}

/*-----------------------*/

  @media only screen and (min-width: 960px) and (max-width: 1200px) {
    .form-floating {
        width: 45%;
    }
    .btn {
        width: 25%;
    }
    .logo-website{
        width: 30%;
    }

    #login-position {
        top: 10rem;
    }

  }

  @media screen and (min-width: 740px) and (max-width: 960px) {
    .form-floating {
        width: 45%;
    }
    .btn {
        width: 25%;
    }
    .logo-website{
        width: 40%;
    }

    #login-position {
        top: 10rem;
    }

  }

  @media screen and (min-width: 620px) and (max-width: 740px) {
    .form-floating {
        width: 55%;
    }
    .btn {
        width: 25%;
    }
    .logo-website{
        width: 40%;
    }

    #login-position {
        top: 10rem;
    }

  }

  @media screen and (min-width: 280px) and (max-width: 620px) {
    .form-floating {
        width: 75%;
    }
    .btn {
        width: 45%;
    }
    .logo-website{
        width: 60%;
    }

    #login-position {
        top: 7rem;
    }

  }
