<body>
    <div class="wrapper" id="img">
       <div class="register-form text-center" id="register-position">
         <span>
             <div class="logo-website">
               <a href="#" class="logo">
                 <img src="assets/logoBrand.png" alt="Website Logo" width="80%">
               </a>
             </div>
           </span>
         <form (ngSubmit) ="submitForm()"  [formGroup]="registerForm">
             <h1>Create account</h1>

             <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="name-input" 
                       placeholder="Name"
                       formControlName= "name">
                <label for="name-input">Name</label>
            </div>
 
             <div class="form-floating">
                 <input type="email"
                        class="form-control" 
                        id="email-input" 
                        placeholder="Email"
                        formControlName="email">
                 <label for="email-input">Email</label>
             </div>
 
             <div class="form-floating">
                 <input type="password" 
                        class="form-control"
                        id="pwd-input"
                        placeholder="Password"
                        formControlName="password">
                 <label for="pwd-input">Password</label>
             </div>

             <div class="text-login">
                <p>Already a member? Please <a href='/login'>Login</a></p>
              </div>
 
             <button class="btn btn-lg btn-primary"
                     type="submit"
                     [disabled]="registerForm.invalid">SIGN-UP</button>
         </form>
       </div>
    </div>
 </body>
 