<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="register-form bg-light mt-4 p-4">
                  <form (ngSubmit) ="submitForm()"  [formGroup]="registerForm" class="row g-3">
                        <h4>SignUp</h4>
                        <i>Create an account</i>

                        <div class="col-12">
                           <label for="name-input">Name</label>
                           <input type="text" name="name" class="form-control" formControlName="name" id="name-input" placeholder="Name">
                       </div>

                        <div class="col-12">
                            <label for="email-input">Email</label>
                            <input type="email" name="email" class="form-control" formControlName="email" id="email-input" placeholder="Email">
                        </div>

                        <div class="col-12">
                            <label for="pwd-input">Password</label>
                            <input type="password" name="password" class="form-control" formControlName="password" id="pwd-input" placeholder="Password">
                        </div>
                    
                        <div class="col-12">
                            <button type="submit" class="btn btn-dark float-end" [disabled]="registerForm.invalid">SignUp</button>
                        </div>

                        <div class="text-center">
                          <p>Already a member? Please login <a href='/login'>Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>
</html>